
# File with settings for the editor.
#
# If you are developing in WebStorm, BBEdit, Coda or SourceLair editor
# this file is already supported and there is no need to produce any additional
# action.
#
# If you are developing in another editor, go
# at http://editorconfig.org and in the “Download a Plugin” section
# Download the add-on for your editor

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
